@model IEnumerable<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/pics/head.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Hakkımızda</h1>
                    <p class="lead mb-4 text-white">Sizlere her zaman daha yeni ve kaliteli haber sunabilmek için daima azimle çalışan gazetecilerimizi yakından tanıyın :)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-5 order-md-2">
                    <img src="/pics/mid1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Biz Kimiz ?</h2>

                    <p>@item.AboutContent1</p>

                    <ul class="ul-check list-unstyled success">
                        <li>Her gün 100'lerce yeni haber</li>
                        <li>Kaliteli ve tecrübeli 10'larca gazeteci </li>
                        <li>Günlük 150.000 sayfa ziyareti</li>
                        <li>Sosyal medyada 500.000'den fazla abone</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@Html.Action("MeetTeam", "About")

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <img src="@item.AboutImage2" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto">
                    <h2>Boş Alan</h2>
                    <p class="mb-4">@item.AboutContent2</p>
                    <ul class="ul-check list-unstyled success">
                        <li>Bir şeyler 2</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@Html.Action("Footer", "About")