@model EntityLayer.Concrete.News
@{
    ViewBag.Title = "DeleteNews";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Haber Başlığı")
    @Html.TextBoxFor(x => x.NewsTitle, new { @class = "form-control" })

    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })

    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.NewsImage, new { @class = "form-control" })

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.NewsDate, new { @class = "form-control" })

    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })

    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.NewsContent, 15, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

