<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>EN SON HABERLER</h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout-2">
            <div class="col-md-4">
                <a href="single.html" class="h-entry mb-30 v-height gradient" style="background-image: url('@ViewBag.newsimage5');">

                    <div class="text">
                        <h2>@ViewBag.newstitle5</h2>
                        <span class="date">@(((DateTime)ViewBag.newsdate5).ToString("dd-MMM-yyyy"))</span>
                    </div>
                </a>
                <a href="single.html" class="h-entry v-height gradient" style="background-image: url('@ViewBag.newsimage2');">

                    <div class="text">
                        <h2>@ViewBag.newstitle2</h2>
                        <span class="date">@(((DateTime)ViewBag.newsdate2).ToString("dd-MMM-yyyy"))</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="single.html" class="h-entry img-5 h-100 gradient" style="background-image: url('@ViewBag.newsimage1');">
                    <div class="text">
                        <h2>@ViewBag.newstitle1</h2>
                        <span class="date">@(((DateTime)ViewBag.newsdate1).ToString("dd-MMM-yyyy"))</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="single.html" class="h-entry mb-30 v-height gradient" style="background-image: url('@ViewBag.newsimage3');">

                    <div class="text">
                        <h2>@ViewBag.newstitle3</h2>
                        <span class="date">@(((DateTime)ViewBag.newsdate3).ToString("dd-MMM-yyyy"))</span>
                    </div>
                </a>
                <a href="single.html" class="h-entry v-height gradient" style="background-image: url('@ViewBag.newsimage4');">

                    <div class="text">
                        <h2>@ViewBag.newstitle4</h2>
                        <span class="date">@(((DateTime)ViewBag.newsdate4).ToString("dd-MMM-yyyy"))</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>