
@model IEnumerable<MvcProje.Models.CategoryNewsViewModel>

@{
    ViewBag.Title = "AdminCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{string color = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kategori Listesi</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                ID
                            </th>
                            <th style="width: 13%">
                                Kategori Adı
                            </th>
                            <th style="width: 20%">
                                Son Haber
                            </th>
                            <th style="width: 10%" class="text-center">
                                Aktiflik
                            </th>
                            <th style="width: 15%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryStatus == true)
                            {
                                color = "badge badge-success";
                            }
                            if (item.Category.CategoryStatus == false)
                            {
                                color = "badge badge-warning";
                            }

                            <tr>
                                <td>@item.Category.CategoryID</td>
                                <td><b><i>@item.Category.CategoryName</i></b></td>

                                <td>
                                    @if (item.NewsList.Any())
                                    {
                                        var authorImage = item.NewsList.OrderByDescending(news => news.NewsDate).First().Author.AuthorImage;
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <img alt="Avatar" class="table-avatar" src="@authorImage">
                                            </li>
                                        </ul>
                                    }
                                    &nbsp; &nbsp;
                                    @if (item.NewsList.Any())
                                    {
                                        @item.NewsList.OrderByDescending(news => news.NewsDate).First().NewsTitle
                                    }
                                    else
                                    {
                                        // Eğer kategoride hiç haber yoksa burada bir mesaj yazdırabilirsiniz.
                                        <p>No news available</p>
                                    }
                                </td>





                                <td class="project-state">
                                    <span class="@color">@item.Category.CategoryStatus</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary" href="/News/NewsByCategory/@item.Category.CategoryID">
                                        <i class="fas fa-eye">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info" href="/Admin/Admin/CategoryEdit/@item.Category.CategoryID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger" href="/Admin/Admin/CategoryDelete/@item.Category.CategoryID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Pasif Yap
                                    </a>
                                    <a class="btn btn-outline-success" href="/Admin/Admin/CategoryStatusTrue/@item.Category.CategoryID">
                                        <i class="fas fa-vote-yea">
                                        </i>
                                        Aktif Yap
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
        Yeni Kategori Ekle
    </button>
    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Yeni Kategori Ekle</h2>
                </div>
                <form method="post" action="/Admin/Admin/AdminCategoryAdd">
                    <div class="modal-body">
                        <label>Kategori Adı</label>
                        <input type="text" name="CategoryName" class="form-control" />
                        <br />
                        <label>Kategori Açıklama</label>
                        <input type="text" name="CategoryDescription" class="form-control" />
                        <br />
                        <button class="btn btn-info">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>